/*.mapContainer{*/
/*    width: 100%;*/
/*    height: 350px;*/
/*}*/
.marker {
    background-size: cover;
    color: #9370DB	;
    border-radius: 50%;
    cursor: pointer;
}
.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
