@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  padding: 0;
  color: #4d4d4d;
}
table {
    margin: 0 auto;
}

#title {
  text-align: center;
}

#employee {
  border-collapse: collapse;
  border: 3px solid #ddd;
}

#employee td,
#employee th {
  border: 1px solid #ddd;
  padding: 12px;
}

#employee tr:hover {
  background-color: #ddd;
}

#employee th {
  padding: 10px;
  text-align: center;
    background: #b8b0f2;
    color: black;
}

.opration {
  text-align: center;
}

.buttonApproval {
  border: none;
  outline: none;
  font-size: 11px;
  font-family: "Quicksand", sans-serif;
  color: #007bff;
  padding: 3px 10px;
  margin-right: 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #007bff;
  background-color: transparent;
}

.buttonDeny {
    border: none;
    outline: none;
    font-size: 11px;
    font-family: "Quicksand", sans-serif;
    color: #dc3545;
    padding: 3px 10px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #dc3545;
    background-color: transparent;
  }

.button:active {
  border: 1px solid #007bff;
}